@tailwind base;
@tailwind components;
@tailwind utilities;

.after\:bg-black::after {
  background-color: #000;
}

.after\:opacity-50::after {
  opacity: 0.5;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
